<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>

  <body>
    <form action="{% url 'add-task' %}" method="post">
        {% csrf_token %}
        <input type="text" name="task" placeholder="Add Task">
        <button>Add</button>
    </form>
    <ul>
      {% for task in all_tasks %}
      <li> 
        <div>
          <form action="{% url 'remove-task' %}" method="post">
            {% csrf_token %}
            <span>{{ task.task_description }}</span>
            <input type="checkbox" {% if task.is_done %}checked{% endif %} class="status-checkbox">
            <input type="hidden" name="task" value="{{ task.task_description }}">
            <button>Remove</button>
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>

    <button id="logout-button">Log out</button>

    <input type="hidden" id="update-api-url" value="{% url 'update-status' %}">
    <input type="hidden" id="login-page-url" value="{% url 'login-page' %}">
    <input type="hidden" id="logout-api-url" value="{% url 'logout' %}">
    
    <script>
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (`${name}=`)) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }
      const csrftoken = getCookie('csrftoken');

      const statusCheckboxes = document.querySelectorAll(".status-checkbox");
      const updateURL = document.getElementById("update-api-url").value;

      function changeStatus(event) {
        const checkbox = event.target;
        const taskInput = checkbox.parentElement.querySelector('input[name="task"]');
        const payload = {
          isDone: checkbox.checked,
          task_description: taskInput.value,
        };

        fetch(updateURL, {
          method: "PUT",
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken 
          },
          body: JSON.stringify(payload) 
        })
        .then(response => response.json())
        .then(data => {
            console.log("Updated:", data);
        })
        .catch(error => {
            console.error("Error:", error);
        });
      }
      
      statusCheckboxes.forEach(checkbox => {
          checkbox.addEventListener("change", changeStatus);
      });

      const logoutButton = document.getElementById("logout-button");
      const loginPageURL = document.getElementById("login-page-url");
      const logoutURL = document.getElementById("logout-api-url");

      function logout() {
        fetch(logoutURL.value, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          body: JSON.stringify({})
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            window.location.href = loginPageURL.value;
        })
        .catch(error => {
            console.error("Error:", error);
        });
      }
      
      logoutButton.addEventListener("click", logout);
    </script>
  </body>
</html>
