<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <form action="{% url 'add-task' %}" method="post">
        {% csrf_token %}
        <input type="text" name="task" placeholder="Add Task">
        <button>Add</button>
    </form>
    <ul>
      {% for task in all_tasks %}
      <li> 
        <div>
          <form action="{% url 'remove-task' %}" method="post">
            {% csrf_token %}
            <span>{{ task.task_description }}</span>
            <input type="checkbox" value="{{ task.is_done }}">
            <input type="hidden" name="task" value="{{ task.task_description }}">
            <button>Remove</button>
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
